@charset "UTF-8";

body{
}

.sample{
	$width:1110px;
	
	background-image : url("../image/sample/1203_01.png");
	background-repeat:no-repeat;
	background-size:$width;
	width:$width;
	height:1280px;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-$width/2;
	opacity:0.5;
	z-index:1;
}