<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /kosin/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /kosin/index.php [L]
</IfModule>